html {
   
  height: 100%;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  }

  .video{
    position: absolute;
    top: 50%;
    left: 30%;
    width: 50rem;
    height: 30rem;
    /* padding: 40px; */
    transform: translate(-50%, -50%);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 30rem;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--bg-secondary);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }

  @media (max-width: 769px) {
    .login-box{
      top: 50%;
      left: 50%;  
    }
    .video{
      top: 80%;
      left: 50%;        
    }
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: left;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff8a00;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }

  .signup-text{
    font-family: 'Lato', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
  }

  .signup-button{
    color: var(--text-secondary);
    text-decoration: none;
    transition: var(--transition-speed)
  }

  .signup-button:hover{
    color: #ff8a00;
    transition: var(--transition-speed);
  }
  
  .button:hover {
    background:#ff8a00;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 1px #ff8a00,
                0 0 5px #ff8a00,
                0 0 10px #ff8a00,
                0 0 20px #ff8a00;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }

  .spinner{
    position: relative;
    display: inline-block;
    padding: 10px 150px;
    transition: var(--transition-speed);
  }


  /* Spinners */
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  