:root {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: #eeeeee;
  /* background-image: url(../src/assets/bg.jpg); */
  background: rgb(0, 0, 20);
  /* background: rgb(10,26,51); */
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  
  font-family: 'Noto Sans', sans-serif;
  
  
}

.container{
  margin-left: 4rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {  
  .container {
    margin: 0;
  }
} 

.title{
  font-size: 3rem;
  color: #fff;
}

.sub-title{
  font-size: 2.5rem;
  color: #fff;
  margin-top: 10vh;
}

 
.basic-grid {
  display: grid;
  gap: 5rem;

  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 10rem;
  width: 20rem;

  border-radius: 20px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em; */
  box-shadow:rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
   transform: translateY(-2px) scale(1.01);
}