@import url('https://fonts.googleapis.com/css2family=Lato:wght@300&display=swap');

:root {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  --text-primary: #F29057;
  --text-secondary: #F25F29;
  --bg-primary: #02020D;
  --bg-secondary: #05031F;
  --transition-speed: 600ms;
}

body {
  color:  black;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #0b0742;
}

body::-webkit-scrollbar-thumb {
  /* background: #120c6e; */
  background: linear-gradient(90deg, #5E72EB, #FF9190);
}

.container{
  margin-left: 17rem;
  margin-top: 7vh;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {  
  .container {
    margin: 0;
  }
} 

.title{
  font-size: 3rem;
  color: #fff;
}

.sub-title{
  font-size: 2.5rem;
  color: #fff;
  margin-top: 10vh;
}

.card {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 1.5rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 10rem;
  width: 20rem;

  border-radius: 20px;
  transition: all 500ms;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  /* box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em; */
  box-shadow:rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  /* transform: translateY(-2px) scale(1.01); */
}

.basic-grid {
  display: grid;
  gap: 5rem;

  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}
