:root{
    --field-bkgnd: #4a5568;
    --field-text: #fff;
    --field-border: #0B0B0D;
    --button-bkgnd: #4a5568;
}

input[type="text"]{
    flex-direction: column;
    justify-content: center;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    width: 20rem;

    background-color: var(--field-bkgnd);
    color: var(--field-text);
    border: 10px var(--field-border);
    border-radius: 10px;
}

select{
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 10px var(--field-border);
    border-radius: 10px;

    color: var(--field-text);
    height: auto;
    background-color: var(--field-bkgnd);
}

input[name="userLabels"],
input[type="button"],
button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--button-bkgnd);
  border: 2px solid var(--button-bkgnd);
  color: white;
  font-weight: normal;
  margin: 0.5rem;
  display: inline-block;
  line-height: normal;
  transition: var(--button-bkgnd) 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
}
