.nav-menu{
  margin-top: 150px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: #010b14;
  }
  
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: #fff;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    /*width: 100%;*/
    width: 9%;

    color: #fff;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  