/* ==========================================================================
   Hero Area
   ========================================================================== */
   .hero-area {
    position: relative; }
    .hero-area .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      text-decoration: none;
      background: rgb(0, 0, 20);
      /*background-image: url(../../assets/bg.jpg);*/
      background-repeat: no-repeat;
      background-size: cover;
     
      z-index: -12; }
      
    .hero-area .contents {
      padding: 170px 0;
      padding-left: 0px; 
      /* margin-left: 400px; */
      
    }
      .hero-area .contents h2 {
        color: #fff;
        font-size: 38px;
        font-weight: 600;
        line-height: 60px;
        align-self: center;
        margin-bottom: 20px;
        margin-top: 0px;
        margin-left: 16px;
       }
        
      .hero-area .contents p {
        color: #fff;
        font-size: 18px;
        line-height: 26px; 
        margin-left: 16px;
      }
      .hero-area .contents .btn {
        margin-top: 20px;
        margin-right: 20px;
        text-decoration: none;
        text-transform: uppercase;
        width: 180px;
        height: 50px;
        padding: 15px 15px; 
        margin-left: 16px;
      }
      .hero-area .contents .btn-border {
        border: 1px solid #fff;
        color: #3ecf8e; 
        border-radius: 20px;
        -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
        width: 180px;
        height: 50px;
        padding: 15px 15px;
        background: #fff; }
        .hero-area .contents .btn-border:hover {
          background: rgb(2, 0, 8);
          color: #e6dfe2; 
          box-shadow: 0 1px 1px cornsilk;
         
        }

        .hero-area .contents .btn-border-filled {
            color: bisque;
            border: 1px solid cadetblue;
            box-shadow: azure;
            transition: width 0.8s;
        }
      .hero-area .contents .btn-border-filled:hover {
        background: rgb(231, 230, 236);
        color: rgb(0, 0, 20);
        width: 400px; 
        
      }
      /* .hero-area .intro-img img{
        display: inline-block;
        height: 400px;
        max-width: 100%;
        
      } */
      .hero-area .intro-img {
        padding: 180px 0 0px; }
        .hero-area .intro-img img {
          display: inline-block;
          height: 400px;
          object-fit: cover;
          /*max-width: 100%;*/
         }
     
     
      