.nav-menu{
  margin-top: 150px;
}

.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 50px;
    background: #f2f3f5;
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .nav-menu a i {
    font-size: 20px;
  }
  
  .nav-menu a span {
    padding: 0 5px 0 7px;
    color: #45505b;
  }
  
  @media (min-width: 992px) {
    .nav-menu a {
      width: 56px;
    }
    .nav-menu a span {
      display: none;
      color: #fff;
    }
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #fff;
    background: #0563bb;
  }
  
  .nav-menu a:hover span, .nav-menu .active > a span, .nav-menu li:hover > a span {
    color: #fff;
  }
  
  .nav-menu a:hover, .nav-menu li:hover > a {
    /*width: 100%;*/
    width: 8%;

    color: #fff;
  }
  
  .nav-menu a:hover span, .nav-menu li:hover > a span {
    display: block;
  }
  
.navbar-top{
    margin-left: 16rem;
    margin-top: -7vh;
    width: 100vw;
    height: 4.5rem;
    position: fixed;
    /* background-color: #08082E; */
    background-color: var(--bg-secondary);
    box-shadow: 0 8px 6px -6px var(--bg-secondary);
    z-index: 1;
}

.navbar-nav-top {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #eeeeee;
    font-size: 1.25rem;
    z-index: 1;
  }

.navbar-nav-top h3{
    margin-left: 2rem;
    width: 72vw;
    /* margin-right: 63vw; */
}

@media only screen and (max-width: 768px) {  
  .navbar-nav-top h3{
    width: 40vw;
    /* margin-right: 63vw; */
} 
} 

.nav-link-top svg{
  width: 30px;
  height: 400px;
  margin-right: 2vw;
}

.logout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 110px;
  height: 50px;
  border: 0.01px solid ;
  color: #eeeeee;
  text-align: center;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 5px;
}

.logout:hover{
  color:#ff8a00;
  border: 0.01px solid ;
  transition: all 0.2s;
}

.nav-link-top {
    display: flex;
    font-family: 'Lato', sans-serif;
    /* font-size: 25px; */
    align-items: center;
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    /* transition: var(--transition-speed); */
}

.navbar {
    width: 16rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    overflow: hidden;
    z-index: 10;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
    color: var(--bg-secondary);
  }
  
   
  .nav-link {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    /* color: var(--text-secondary); */
  }
  
  .link-text {
    display: block;
    margin-left: 1rem;
  }

  .expand-task{
    display: block;
    margin-left: 6rem;
    font-size: 1rem;
  }

  .nav-link svg {
    color: var(--text-primary);
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: block;
    margin-left: 2rem;
    display: inline;
    font-size: 15px;
    /* transition: var(--transition-speed); */
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
      overflow: auto;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 16rem;
      height: 100vh;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }
