.navbar-top{
    margin-left: 16rem;
    margin-top: -7vh;
    width: 100vw;
    height: 7vh;
    position: fixed;
    background-color: #08082E;
    box-shadow: 0 8px 6px -6px var(--bg-secondary);
    z-index: 1;
}

.navbar-nav-top {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 1.25rem;
    z-index: 1;
  }

.navbar-nav-top h3{
    margin-left: 2rem;
}

.navbar-nav-top svg{
  
  width: 30px;
  height: 80px;
  margin-left:83vw;
  margin-top: -9vh;
}

.nav-link-top {
    display: flex;
    font-family: 'Lato', sans-serif;
    /* font-size: 25px; */
    align-items: center;
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    /* transition: var(--transition-speed); */
}

.navbar {
    width: 16rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
   
  .nav-link {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    /* filter: grayscale(100%) opacity(0.7); */
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    /* color: var(--text-secondary); */
  }
  
  .link-text {
    display: block;
    margin-left: 1rem;
  }

  .expand-task{
    display: block;
    margin-left: 6rem;
    font-size: 1rem;
  }

  .nav-link svg {
    color: var(--text-primary);
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  .logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
  
  .logo-text
  {
    display: block;
    margin-left: 2rem;
    display: inline;
    font-size: 15px;
    /* transition: var(--transition-speed); */
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 16rem;
      height: 100vh;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
  
  .dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
  }
  
  .light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
  }
  
  .solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
  }
  
  .theme-icon {
    display: none;
  }
  
  .dark #darkIcon {
    display: block;
  }
  
  .light #lightIcon {
    display: block;
  }
  
  .solar #solarIcon {
    display: block;
  }